* {
  box-sizing: border-box;
}



.slider {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
  opacity: 0.7;
  //overflow: hidden;
  //position: relative;
}
.slide1,
.slide2,
.slide3 {
  position: absolute;
  width: 100%;
  height: 100%;
}
.slide1 {
  background: url('./img/1.jpg') no-repeat center;
  //background-attachment: fixed !important;
  background-size: cover;
  animation: fade 30s infinite;
  -webkit-animation: fade 30s infinite;
}
.slide2 {
  background: url('./img/2.png') no-repeat center;
  //background-attachment: fixed !important;
  background-size: cover;
  animation: fade2 30s infinite;
  -webkit-animation: fade2 30s infinite;
}
.slide3 {
  background: url('./img/3.jpg') no-repeat center;
  //background-attachment: fixed !important;
  background-size: cover;
  animation: fade3 30s infinite;
  -webkit-animation: fade3 30s infinite;
}
@keyframes fade {
  0% {
    opacity: 1;
  }
  33.333% {
    opacity: 0;
  }
  66.666% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade2 {
  0% {
    opacity: 0;
  }
  33.333% {
    opacity: 1;
  }
  66.666% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade3 {
  0% {
    opacity: 0;
  }
  33.333% {
    opacity: 0;
  }
  66.666% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.navbar {
  margin: 0;
  background: #f4d6da;
  border: none;
}
.navbar-default .navbar-brand {
  @include font-fam-size(2em, $font-1, bold, #000);
}
.navbar-default .navbar-nav > li > a {
  @include font-fam-size(1.5em, $font-4, bold, #000);
}
.navbar-default .navbar-toggle {
  border: none;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #000;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border: none;
}

.main{
  //position: fixed;

}
.intro {
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
  //opacity: 0.5;
  //overflow: hidden;
  //position: fixed;


  @include flex-display(flex, column, space-around, 100%);
  .logoBlock {
    background: transparent;
    @include flex-display(flex, row, space-around, 100%);
    padding: 7em 0 0 0;
    .logoBlock__img {
      max-width: 100%;
      height: auto;
    }
  }

}

.introduction-block {
  background: $pink;
  padding: 3em 0;

  .introduction-block__text {
    //background: #f4d6da;
    @include font-fam-size(3em, $font-2, 500, black );
    -webkit-text-stroke: 1px $pink;
    text-align: center;
    @include media(tablet) {
      padding: 0 3em;
    }
  }
}


.main-page-about{
  background: $skin-color;
  margin: 0;
  padding: 0;
  width: 100%;
  .main-page-about__title{
    text-align: center;
    padding: 1em 0;
    @include font-fam-size(3em, $font-1, bold, $text-black);
    margin: 0;

  }
  .main-page-about__p{
    @include font-fam-size(2em, $font-2, 500, $text-black);
    margin: 0;
    padding:  1em;

  }

}
.zaddys{
  background: $skin-color;
  margin: 0;
  padding:  0;
  width: 100%;
  background: $pink;
.zaddys_block {
  margin: 0;

  .zaddys_block__item {
    padding: 0;
    .thumbnail {
      padding: 0;
    }

  }
  .zaddys_block__item--title{
    @include font-fam-size(2em, $font-2, 500, $text-black);
  }
}
}



.music{
  background: $skin-color;
  margin: 0;
  padding: 3em 0;
  width: 100%;
 background: $pink;
  .music_block{
    margin: 0;
    .music_block__item{
      padding: 0;
      .thumbnail{
        padding: 0;
      }
    }

   .music_block__item--title{
     @include font-fam-size(2em, $font-1, 500, $text-black);
   }
    //.music_block__item--description{
    //  @include font-fam-size(1em, $font-2, 500, $text-black);
    //}


  }
}


.social-icons{
  background: #222222;
  @include flex-display(flex, row, space-around, 100%);

  .social-icons__a{
    padding: 2em 1em;


    .social-icons__a--img{
      margin: 0 auto;
      width:40px;

    }


  }

}
