@font-face {
  font-family: asli;
  src: url(./fonts/sinbad_the_sailor/SinbadtheSailor.ttf);
}
@font-face {
  font-family: asli-2;
  src: url(./fonts/sinbad_the_sailor/SinbadtheSailor-Italic.ttf);
}

@font-face {
  font-family: asli-3;
  src: url(./fonts/ArabDances.ttf);
}