// flex rule mixin \\
@mixin flex-display ($display, $direction, $justify: null, $width: null, $align:null) {
    display: $display;
    flex-direction: $direction;
    justify-content: $justify;
    width: $width;
    align-items: $align;
}

// full function font mixin \\
@mixin font-fam-size ($size, $family, $weight:null, $color:null, $shade:null) {
    font-size: $size;
    font-family: $family;
    font-weight: $weight;
    color: $color;
    text-shadow: $shade;
}

// bouutons and icons \\
@mixin button-styles($width, $height, $margin, $background:null, $padding:null, $fontsize:null) {
    width: $width;
    height: $height;
    margin: $margin;
    background-color: $background;
    padding: $padding;
    font-size: $fontsize;
}

// media-queries mixin \\
@mixin media($break) {
    @if $break==landscape {
        @media (min-width: $brk-landscape) {
            @content;
        }
    }
    @else if $break==tablet {
        @media (min-width: $brk-tablet) {
            @content;
        }
    }
    @else if $break==laptop {
        @media (min-width: $brk-laptop) {
            @content;
        }
    }
}
